# Описание данных

Данные - специально подготовленная выборка из полного набора, описанного здесь: https://mengtingwan.github.io/data/goodreads#datasets с дополнениями из https://www.kaggle.com/datasets/austinreese/goodreads-books:
- books: перечень книг (~44 тыс.) из списка https://www.goodreads.com/list/show/1.Best_Books_Ever (совпадение по book id),
- interactions: взаимодействие пользователей с книгами

Основной массив данных был собран в конце 2017.

# Инициализация

In [1]:
import logging

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
%matplotlib inline
%config InlineBackend.figure_format = 'png'
%config InlineBackend.figure_format = 'retina'

Создаём логгер, который удобен для использования в ноутбуке.

# Load Data

Загружаем данные как они есть, начинаем на них смотреть: какие в них есть сущности, атрибуты, распределения.

In [3]:
books = pd.read_parquet("./goodsread/books.parquet")

In [4]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43312 entries, 3 to 2360448
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   book_id               43312 non-null  int64
 1   author                43312 non-null  object
 2   title                 43312 non-null  object
 3   description           43312 non-null  object
 4   genre_and_votes       43312 non-null  object
 5   num_pages             37001 non-null  Int64
 6   average_rating        43312 non-null  float64
 7   ratings_count         43312 non-null  Int64
 8   text_reviews_count    43312 non-null  int64
 9   publisher             43312 non-null  object
 10  publication_year      35891 non-null  Int64
 11  country_code          43312 non-null  object
 12  language_code         43312 non-null  object
 13  format                43312 non-null  object
 14  is_ebook              43312 non-null  bool
 15  isbn                  43312 non-null  object
 16  isbn13                43312 non-null  object
 17  genre_and_votes_dict  42391 non-null  object
 18  genre_and_votes_str   42391 non-null  object
dtypes: Int64(3), bool(1), float64(1), int64(2), object(12)
memory usage: 6.4+ MB

Пример данных по книгам

In [5]:
print(books[["book_id", "author", "title", "num_pages", "average_rating"]].sample(5, random_state=52).sort_values("book_id").set_index("book_id").to_string())

                                             author                                            title  num_pages  average_rating
book_id
69882                 Heinrich Böll, Patrick Bowles                      Billiards at Half-Past Nine        288            3.93
267533                               Robert Cormier                                         8 Plus 1        173            3.67
820966    Martin Luther, J.I. Packer, O.R. Johnston                          The Bondage of the Will        322            4.17
4532622                               Karen Hancock                                      The Enclave        492            3.82
20444381                             Diana Gabaldon  Os tambores de outono - 1ª Parte (Outlander #4)       1048            3.99

In [6]:
interactions = pd.read_parquet("./goodsread/interactions.parquet")

Можно оценить объём данных о взаимодействиях

In [7]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12890434 entries, 0 to 12914458
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   user_id      object
 1   book_id      int64
 2   started_at   object
 3   read_at      object
 4   is_read      bool
 5   rating       int64
 6   is_reviewed  bool
dtypes: bool(2), int64(2), object(3)
memory usage: 614.7+ MB

Пример данных по взаимодействиям

In [8]:
print(interactions[["user_id", "book_id", "started_at", "read_at", "is_read", "rating"]].sample(5, random_state=52).sort_values("user_id").set_index(["user_id", "book_id"]).to_string())

                                           started_at     read_at  is_read  rating
user_id                          book_id
0447747f44c0d8d1a08cf329fe253f29 10054335  2016-04-08  2016-04-20     True       3
14432756ffba6357686f09e4ccc332bb 26252859  2016-05-27  2016-05-30     True       5
46d6c8cf548d1c86abb671f42ba71b5e 960       2014-08-06  2016-10-29     True       5
71c2b3714945af1f700f49953904c510 18492859  2014-10-09  2014-10-12     True       5
7802bafdeac8abff23a72b9dd60b1dd1 18710190  2015-03-01  2015-05-05     True       4

# EDA

Посмотрим на данные о книгах, какие поля есть.

In [9]:
books.sample(3).T

,996506,719996,723730
book_id,6064635,703055,6096231
author,Janet Lee Carey,Christine Aziz,P.W. Catanese
title,Stealing Death,The Olive Readers,"Happenstance Found (The Books of Umber, #1)"
description,"""I want that soul sack,"" he said suddenly.\n""W...",,Twelve-year-old Happenstance awakens in a cave...
genre_and_votes,"{'Fantasy': 20, 'Young Adult': 11, 'Fantasy-My...","{'Fiction': 17, 'Science Fiction': 10, 'Fantas...","{'Fantasy': 282, 'Young Adult': 60, 'Adventure..."
num_pages,368,<NA>,<NA>
average_rating,3.49,3.15,3.99
ratings_count,162,282,3999
text_reviews_count,34,41,302
publisher,EgmontUSA,,
publication_year,2009,<NA>,<NA>
country_code,US,US,US
language_code,,,
format,Hardcover,,
is_ebook,False,False,False
isbn,1606840096,0330439634,1416975195
isbn13,9781606840092,9780330439633,9781416975199
genre_and_votes_dict,"{'Academic': None, 'Academic-Academia': None, ...","{'Academic': None, 'Academic-Academia': None, ...","{'Academic': None, 'Academic-Academia': None, ..."
genre_and_votes_str,"Fantasy 20, Young Adult 11, Fantasy-Mythology ...","Fiction 17, Science Fiction 10, Fantasy 8, Sci...","Fantasy 282, Young Adult 60, Adventure 53, Chi..."

Посмотрим на данные о взаимодействиях пользователей с книгами.

In [10]:
books["book_id"].nunique()

43312

In [11]:
# распределение книг по годам публикации

fig, axs = plt.subplots(2, 1, figsize=(12, 6))

ax = axs[0]
books["publication_year"].value_counts().sort_index().plot(kind="bar", ax=ax)
ax.tick_params(axis='x', labelsize=8)

ax = axs[1]
books.query("publication_year >= 1900 and publication_year <= 2025")["publication_year"].value_counts().sort_index().plot(kind="bar", ax=ax)
ax.tick_params(axis='x', labelsize=8)

fig.tight_layout()

/tmp/ipykernel_2428/2874937594.py:10: RuntimeWarning: Engine has switched to 'python' because numexpr does not support extension array dtypes. Please set your engine to python manually.
  books.query("publication_year >= 1900 and publication_year <= 2025")["publication_year"].value_counts().sort_index().plot(kind="bar", ax=ax)

# События по месяцам

In [12]:
from pandas.tseries.offsets import MonthEnd

interactions["started_at_month"] = pd.to_datetime(interactions["started_at"]).dt.to_period('M').dt.to_timestamp().dt.date

In [13]:
interactions_by_month = interactions.groupby("started_at_month").agg(events=("started_at", "count"), users=("user_id", "nunique")).reset_index()

In [14]:
interactions_by_month

    started_at_month  events  users
0         2007-01-01    1993   1071
1         2007-02-01     201    135
2         2007-03-01     222    152
3         2007-04-01     201    135
4         2007-05-01     204    138
..               ...     ...    ...
127       2017-08-01  202129  93040
128       2017-09-01  172187  82694
129       2017-10-01  108107  58076
130       2017-11-01     565    475
131       2017-12-01      34     34

[132 rows x 3 columns]

In [15]:
# распределение взаимодействий по годам

fig, axs = plt.subplots(2, 1, figsize=(12, 6))

ax = axs[0]
ax.plot(interactions_by_month["started_at_month"], interactions_by_month["events"])
# ax.tick_params(axis='x', labelsize=8)
ax.set_title("#events by months")

ax = axs[1]
ax.plot(interactions_by_month["started_at_month"], interactions_by_month["users"])
# ax.tick_params(axis='x', labelsize=8)
ax.set_title("#users by months")

fig.tight_layout()

# Преобработка

Примем новые именования:
- books -> items (более обобщённое название)
- interactions -> events (несколько короче, удобнее в коде)

In [16]:
items = books.copy()
events = interactions.copy()

In [17]:
del books
del interactions

In [18]:
# оставим события только до ноября 2017

event_cutoff_date = pd.to_datetime("2017-11-01").date()
events = events.query("started_at < @event_cutoff_date and read_at < @event_cutoff_date").copy()

# Ваш код здесь

In [19]:
events = events.query("rating > 0 and is_read == True").copy()

events = events[
    events["user_id"].isin(
        events.groupby("user_id").agg(
            cnt = ("book_id", "count")
        ).query("cnt > 1").reset_index()["user_id"]
    )
].reset_index(drop=True)

In [20]:
new_keys = events[["user_id"]].drop_duplicates().sort_values(
    by="user_id", ascending=True
).reset_index(drop=True)
new_keys["new_user_id"] = new_keys.index + 1000000

new_keys[new_keys.user_id == "8f50136afeb65c55cec7b3d306c24b03"]

                                 user_id  new_user_id
241243  8f50136afeb65c55cec7b3d306c24b03      1241243

In [21]:
events["user_id"] = events["user_id"].map(new_keys.set_index("user_id")["new_user_id"])

In [26]:
events = events.rename({"book_id":"item_id"}, axis=1)
items = items.rename({"book_id":"item_id"}, axis=1)

# Сохранение результатов

In [27]:
items.to_parquet("items.par")

In [28]:
events.to_parquet("events.par")